@media  (max-width: 627px )  {
 	[class*="panel"]  {

 		max-width: 100%;
 		flex:none;
 	}

 	.panel {
        width: 80%;
        height: auto;

        }

     .panel img {
        width: 270px;
        height: 250px;
}

    #pusheen {
        margin-top: -10px;
        width: 100px;
        height: 80px;
    }

    #pusheen2 {
        display:none;
    }


    .header h1 {
        font-size: 30px;
    }

    .footer h3 {
        font-size: 13px;
    }


} 

@media  (max-width: 370px )  {
    [class*="panel"]  {

        max-width: 100%;
        flex:none;
    }

    .panel {
        width: 90%;
        height: auto;

        }

     .panel img {
        width: 180px;
        height: 160px;
}

    #pusheen {
        margin-top: -10px;
        width: 80px;
        height: 60px;
    }

    #pusheen2 {
        display:none;
    }


    .header h1 {
        font-size: 29px;
    }

    .footer h3 {
        font-size: 12px;
    }


} 

